*
!README.md
!CHANGELOG.adoc
!LICENSE
!.gitignore
!.github/
!.github/**
!daemon/
!daemon/**
!ui/
!ui/**
!docs/
!docs/**
!config/
!config/**
!packaging/
!packaging/**
daemon/.dub/
daemon/rulesd
daemon/rulesd.exe
daemon/*.exe
ui/node_modules/
ui/dist/
*.lsif

daemon/*.pdb
*.pdb
