<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.devcentr.rulesd</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/rulesd</string>
    <string>--serve</string>
    <string>--config</string>
    <string>/Users/YOU/code/rules-manager.config.json</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/rulesd.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/rulesd.err</string>
</dict>
</plist>
